@use "../abstracts" as *;

div {
    position: relative;

    & > *:not(.background) {
        position: absolute;
        z-index: 1;
    }

    & > button {
        top: 10px;
        right: 10px;
        border: none;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;

        &:focus {
            outline: 3px solid $color-orange;
        }
    }

    & > span {
        bottom: 10px;
        left: 10px;
        padding: 5px 10px;
        border-radius: 15px;
        background-color: white;
        color: $color-gray;
    }
    
    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
        z-index: 0;
    }
    
    &.md {
        width: 300px;
        height: 300px;
    }

    &.lg {
        width: 700px;
        height: 700px;
    }
}

.title {
    margin-top: 10px;
}